<html>
  <head>
    <title>Mental Health Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="question.css")
    }}" />
  </head>
  <body>
    <div class="app">
      <h1>Thank you for answering the questionnaire</h1>
      {% if help == "Yes" %}
      <div>
        <h2>We think you need some assistance, please do not be afraid to reach out for help</h2>
        <a href="https://www.imh.com.sg/CHAT/Get-Help/Pages/Other-Mental-Health-Resources.aspx">Reach out for help here.</a>
      </div>
      {% else %}
      <div>
        <h2>You're healthy, no need to worry!</h2>
      </div>
      {% endif %}
      <div class="quiz">
        <h2 id="question">
          Do you want to return to home or view your statistics
        </h2>
        <div id="answer-buttons">
          <button
            class="btn"
            onclick="back_home()"
          >
            Back to Home
          </button>
          <button
            class="btn"
            onclick="view_statistics()"
          >
            View Statistics
          </button>
      </div>
    </div>

    <script>
      function back_home() {
        // Redirect to the start questionnaire page
        window.location.href = "/"; // Adjust the URL as needed
      }

      function view_statistics() {
        // Redirect to the view statistics page
        window.location.href = "/statistics"; // Adjust the URL as needed
      }
    </script>
  </body>
</html>
